#ingonre these files
vim82/*.*
vim82/autoload/*
vim82/compiler/*
vim82/doc/*
vim82/ftplugin/*.*
vim82/indent/*
vim82/keymap/*
vim82/lang/*
vim82/macros/*
vim82/plugin/*
vim82/spell/*
vim82/syntax/*
vim82/tools/*
vim82/tutor/*
vim82/GvimExt32/*
vim82/GvimExt64/*
vim82/colors/README.txt
*.zip
*.swp
_vimrc~
vim82/tags

!vim82/lua53.dll
!vim82/ctags.exe
!vim82/autoload/plug.vim
!vim82/syntax/fx.vim
!vim82/syntax/glsl.vim

